@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?5uapf2");
  src: url("fonts/icomoon.eot?5uapf2#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?5uapf2") format("truetype"), url("fonts/icomoon.woff?5uapf2") format("woff"), url("fonts/icomoon.svg?5uapf2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-activity:before {
  content: "\e900"; }

.icon-airplay:before {
  content: "\e901"; }

.icon-alert-circle:before {
  content: "\e902"; }

.icon-alert-octagon:before {
  content: "\e903"; }

.icon-alert-triangle:before {
  content: "\e904"; }

.icon-align-center:before {
  content: "\e905"; }

.icon-align-justify:before {
  content: "\e906"; }

.icon-align-left:before {
  content: "\e908"; }

.icon-align-right:before {
  content: "\e909"; }

.icon-anchor:before {
  content: "\e90b"; }

.icon-aperture:before {
  content: "\e90d"; }

.icon-arrow-down:before {
  content: "\e90f"; }

.icon-arrow-down-circle:before {
  content: "\e910"; }

.icon-arrow-down-left:before {
  content: "\e911"; }

.icon-arrow-down-right:before {
  content: "\e912"; }

.icon-arrow-left:before {
  content: "\e913"; }

.icon-arrow-left-circle:before {
  content: "\e914"; }

.icon-arrow-right:before {
  content: "\e915"; }

.icon-arrow-right-circle:before {
  content: "\e916"; }

.icon-arrow-up:before {
  content: "\e917"; }

.icon-arrow-up-circle:before {
  content: "\e918"; }

.icon-arrow-up-left:before {
  content: "\e919"; }

.icon-arrow-up-right:before {
  content: "\e91a"; }

.icon-at-sign:before {
  content: "\e91b"; }

.icon-award:before {
  content: "\e91c"; }

.icon-bar-chart:before {
  content: "\e91d"; }

.icon-bar-chart-2:before {
  content: "\e91e"; }

.icon-battery:before {
  content: "\e91f"; }

.icon-battery-charging:before {
  content: "\e920"; }

.icon-bell:before {
  content: "\e921"; }

.icon-bell-off:before {
  content: "\e922"; }

.icon-bluetooth:before {
  content: "\e923"; }

.icon-bold:before {
  content: "\e924"; }

.icon-book:before {
  content: "\e925"; }

.icon-book-open:before {
  content: "\e926"; }

.icon-bookmark:before {
  content: "\e927"; }

.icon-box:before {
  content: "\e928"; }

.icon-briefcase:before {
  content: "\e929"; }

.icon-calendar:before {
  content: "\e92a"; }

.icon-camera:before {
  content: "\e92b"; }

.icon-camera-off:before {
  content: "\e92c"; }

.icon-cast:before {
  content: "\e92d"; }

.icon-check:before {
  content: "\e92e"; }

.icon-check-circle:before {
  content: "\e92f"; }

.icon-check-square:before {
  content: "\e930"; }

.icon-chevron-down:before {
  content: "\e931"; }

.icon-chevron-left:before {
  content: "\e932"; }

.icon-chevron-right:before {
  content: "\e933"; }

.icon-chevron-up:before {
  content: "\e934"; }

.icon-chevrons-down:before {
  content: "\e935"; }

.icon-chevrons-left:before {
  content: "\e936"; }

.icon-chevrons-right:before {
  content: "\e937"; }

.icon-chevrons-up:before {
  content: "\e938"; }

.icon-chrome:before {
  content: "\e939"; }

.icon-circle:before {
  content: "\e93a"; }

.icon-clipboard:before {
  content: "\e93b"; }

.icon-clock:before {
  content: "\e93c"; }

.icon-cloud:before {
  content: "\e93d"; }

.icon-cloud-drizzle:before {
  content: "\e93e"; }

.icon-cloud-lightning:before {
  content: "\e93f"; }

.icon-cloud-off:before {
  content: "\e940"; }

.icon-cloud-rain:before {
  content: "\e941"; }

.icon-cloud-snow:before {
  content: "\e942"; }

.icon-code:before {
  content: "\e943"; }

.icon-codepen:before {
  content: "\e944"; }

.icon-command:before {
  content: "\e945"; }

.icon-compass:before {
  content: "\e946"; }

.icon-copy:before {
  content: "\e947"; }

.icon-corner-down-left:before {
  content: "\e948"; }

.icon-corner-down-right:before {
  content: "\e949"; }

.icon-corner-left-down:before {
  content: "\e94a"; }

.icon-corner-left-up:before {
  content: "\e94b"; }

.icon-corner-right-down:before {
  content: "\e94c"; }

.icon-corner-right-up:before {
  content: "\e94d"; }

.icon-corner-up-left:before {
  content: "\e94e"; }

.icon-corner-up-right:before {
  content: "\e94f"; }

.icon-cpu:before {
  content: "\e950"; }

.icon-credit-card:before {
  content: "\e951"; }

.icon-crop:before {
  content: "\e952"; }

.icon-crosshair:before {
  content: "\e953"; }

.icon-database:before {
  content: "\e954"; }

.icon-delete:before {
  content: "\e955"; }

.icon-disc:before {
  content: "\e956"; }

.icon-dollar-sign:before {
  content: "\e957"; }

.icon-download:before {
  content: "\e958"; }

.icon-download-cloud:before {
  content: "\e959"; }

.icon-droplet:before {
  content: "\e95a"; }

.icon-edit:before {
  content: "\e95b"; }

.icon-edit-2:before {
  content: "\e95c"; }

.icon-edit-3:before {
  content: "\e95d"; }

.icon-external-link:before {
  content: "\e95e"; }

.icon-eye:before {
  content: "\e95f"; }

.icon-eye-off:before {
  content: "\e960"; }

.icon-facebook2:before {
  content: "\e961"; }

.icon-fast-forward:before {
  content: "\e962"; }

.icon-feather:before {
  content: "\e963"; }

.icon-file:before {
  content: "\e964"; }

.icon-file-minus:before {
  content: "\e965"; }

.icon-file-plus:before {
  content: "\e966"; }

.icon-file-text:before {
  content: "\e967"; }

.icon-film:before {
  content: "\e968"; }

.icon-filter:before {
  content: "\e969"; }

.icon-flag:before {
  content: "\e96a"; }

.icon-folder:before {
  content: "\e96b"; }

.icon-folder-minus:before {
  content: "\e96c"; }

.icon-folder-plus:before {
  content: "\e96d"; }

.icon-git-branch:before {
  content: "\e96e"; }

.icon-git-commit:before {
  content: "\e96f"; }

.icon-git-merge:before {
  content: "\e970"; }

.icon-git-pull-request:before {
  content: "\e971"; }

.icon-github:before {
  content: "\e972"; }

.icon-gitlab:before {
  content: "\e973"; }

.icon-globe:before {
  content: "\e974"; }

.icon-grid:before {
  content: "\e975"; }

.icon-hard-drive:before {
  content: "\e976"; }

.icon-hash:before {
  content: "\e977"; }

.icon-headphones:before {
  content: "\e978"; }

.icon-heart:before {
  content: "\e979"; }

.icon-help-circle:before {
  content: "\e97a"; }

.icon-home:before {
  content: "\e97b"; }

.icon-image:before {
  content: "\e97c"; }

.icon-inbox:before {
  content: "\e97d"; }

.icon-info:before {
  content: "\e97e"; }

.icon-instagram:before {
  content: "\e97f"; }

.icon-italic:before {
  content: "\e980"; }

.icon-layers:before {
  content: "\e981"; }

.icon-layout:before {
  content: "\e982"; }

.icon-life-buoy:before {
  content: "\e983"; }

.icon-link:before {
  content: "\e984"; }

.icon-link-2:before {
  content: "\e985"; }

.icon-linkedin2:before {
  content: "\e986"; }

.icon-list:before {
  content: "\e987"; }

.icon-loader:before {
  content: "\e988"; }

.icon-lock:before {
  content: "\e989"; }

.icon-log-in:before {
  content: "\e98a"; }

.icon-log-out:before {
  content: "\e98b"; }

.icon-mail:before {
  content: "\e98c"; }

.icon-map:before {
  content: "\e98d"; }

.icon-map-pin:before {
  content: "\e98e"; }

.icon-maximize:before {
  content: "\e98f"; }

.icon-maximize-2:before {
  content: "\e990"; }

.icon-menu:before {
  content: "\e991"; }

.icon-message-circle:before {
  content: "\e992"; }

.icon-message-square:before {
  content: "\e993"; }

.icon-mic:before {
  content: "\e994"; }

.icon-mic-off:before {
  content: "\e995"; }

.icon-minimize:before {
  content: "\e996"; }

.icon-minimize-2:before {
  content: "\e997"; }

.icon-minus:before {
  content: "\e998"; }

.icon-minus-circle:before {
  content: "\e999"; }

.icon-minus-square:before {
  content: "\e99a"; }

.icon-monitor:before {
  content: "\e99b"; }

.icon-moon:before {
  content: "\e99c"; }

.icon-more-horizontal:before {
  content: "\e99d"; }

.icon-more-vertical:before {
  content: "\e99e"; }

.icon-move:before {
  content: "\e99f"; }

.icon-music:before {
  content: "\e9a0"; }

.icon-navigation:before {
  content: "\e9a1"; }

.icon-navigation-2:before {
  content: "\e9a2"; }

.icon-octagon:before {
  content: "\e9a3"; }

.icon-package:before {
  content: "\e9a4"; }

.icon-paperclip:before {
  content: "\e9a5"; }

.icon-pause:before {
  content: "\e9a6"; }

.icon-pause-circle:before {
  content: "\e9a7"; }

.icon-percent:before {
  content: "\e9a8"; }

.icon-phone:before {
  content: "\e9a9"; }

.icon-phone-call:before {
  content: "\e9aa"; }

.icon-phone-forwarded:before {
  content: "\e9ab"; }

.icon-phone-incoming:before {
  content: "\e9ac"; }

.icon-phone-missed:before {
  content: "\e9ad"; }

.icon-phone-off:before {
  content: "\e9ae"; }

.icon-phone-outgoing:before {
  content: "\e9af"; }

.icon-pie-chart:before {
  content: "\e9b0"; }

.icon-play:before {
  content: "\e9b1"; }

.icon-play-circle:before {
  content: "\e9b2"; }

.icon-plus:before {
  content: "\e9b3"; }

.icon-plus-circle:before {
  content: "\e9b4"; }

.icon-plus-square:before {
  content: "\e9b5"; }

.icon-pocket:before {
  content: "\e9b6"; }

.icon-power:before {
  content: "\e9b7"; }

.icon-printer:before {
  content: "\e9b8"; }

.icon-radio:before {
  content: "\e9b9"; }

.icon-refresh-ccw:before {
  content: "\e9ba"; }

.icon-refresh-cw:before {
  content: "\e9bb"; }

.icon-repeat:before {
  content: "\e9bc"; }

.icon-rewind:before {
  content: "\e9bd"; }

.icon-rotate-ccw:before {
  content: "\e9be"; }

.icon-rotate-cw:before {
  content: "\e9bf"; }

.icon-rss:before {
  content: "\e9c0"; }

.icon-save:before {
  content: "\e9c1"; }

.icon-scissors:before {
  content: "\e9c2"; }

.icon-search:before {
  content: "\e9c3"; }

.icon-send:before {
  content: "\e9c4"; }

.icon-server:before {
  content: "\e9c5"; }

.icon-settings:before {
  content: "\e9c6"; }

.icon-share:before {
  content: "\e9c7"; }

.icon-share-2:before {
  content: "\e9c8"; }

.icon-shield:before {
  content: "\e9c9"; }

.icon-shield-off:before {
  content: "\e9ca"; }

.icon-shopping-bag:before {
  content: "\e9cb"; }

.icon-shopping-cart:before {
  content: "\e9cc"; }

.icon-shuffle:before {
  content: "\e9cd"; }

.icon-sidebar:before {
  content: "\e9ce"; }

.icon-skip-back:before {
  content: "\e9cf"; }

.icon-skip-forward:before {
  content: "\e9d0"; }

.icon-slack:before {
  content: "\e9d1"; }

.icon-slash:before {
  content: "\e9d2"; }

.icon-sliders:before {
  content: "\e9d3"; }

.icon-smartphone:before {
  content: "\e9d4"; }

.icon-speaker:before {
  content: "\e9d5"; }

.icon-square:before {
  content: "\e9d6"; }

.icon-star:before {
  content: "\e9d7"; }

.icon-stop-circle:before {
  content: "\e9d8"; }

.icon-sun:before {
  content: "\e9d9"; }

.icon-sunrise:before {
  content: "\e9da"; }

.icon-sunset:before {
  content: "\e9db"; }

.icon-tablet:before {
  content: "\e9dc"; }

.icon-tag:before {
  content: "\e9dd"; }

.icon-target:before {
  content: "\e9de"; }

.icon-terminal:before {
  content: "\e9df"; }

.icon-thermometer:before {
  content: "\e9e0"; }

.icon-thumbs-down:before {
  content: "\e9e1"; }

.icon-thumbs-up:before {
  content: "\e9e2"; }

.icon-toggle-left:before {
  content: "\e9e3"; }

.icon-toggle-right:before {
  content: "\e9e4"; }

.icon-trash:before {
  content: "\e9e5"; }

.icon-trash-2:before {
  content: "\e9e6"; }

.icon-trending-down:before {
  content: "\e9e7"; }

.icon-trending-up:before {
  content: "\e9e8"; }

.icon-triangle:before {
  content: "\e9e9"; }

.icon-truck:before {
  content: "\e9ea"; }

.icon-tv:before {
  content: "\e9eb"; }

.icon-twitter2:before {
  content: "\e9ec"; }

.icon-type:before {
  content: "\e9ed"; }

.icon-umbrella:before {
  content: "\e9ee"; }

.icon-underline:before {
  content: "\e9ef"; }

.icon-unlock:before {
  content: "\e9f0"; }

.icon-upload:before {
  content: "\e9f1"; }

.icon-upload-cloud:before {
  content: "\e9f2"; }

.icon-user:before {
  content: "\e9f3"; }

.icon-user-check:before {
  content: "\e9f4"; }

.icon-user-minus:before {
  content: "\e9f5"; }

.icon-user-plus:before {
  content: "\e9f6"; }

.icon-user-x:before {
  content: "\e9f7"; }

.icon-users:before {
  content: "\e9f8"; }

.icon-video:before {
  content: "\e9f9"; }

.icon-video-off:before {
  content: "\e9fa"; }

.icon-voicemail:before {
  content: "\e9fb"; }

.icon-volume:before {
  content: "\e9fc"; }

.icon-volume-1:before {
  content: "\e9fd"; }

.icon-volume-2:before {
  content: "\e9fe"; }

.icon-volume-x:before {
  content: "\e9ff"; }

.icon-watch:before {
  content: "\ea00"; }

.icon-wifi:before {
  content: "\ea01"; }

.icon-wifi-off:before {
  content: "\ea02"; }

.icon-wind:before {
  content: "\ea03"; }

.icon-x:before {
  content: "\ea04"; }

.icon-x-circle:before {
  content: "\ea05"; }

.icon-x-square:before {
  content: "\ea06"; }

.icon-zap:before {
  content: "\ea07"; }

.icon-zap-off:before {
  content: "\ea08"; }

.icon-zoom-in:before {
  content: "\ea09"; }

.icon-zoom-out:before {
  content: "\ea0a"; }

.icon-twitter:before {
  content: "\e907"; }

.icon-linkedin:before {
  content: "\e90a"; }

.icon-facebook:before {
  content: "\e90c"; }

.icon-youtube:before {
  content: "\e90e"; }
