@import 'icomoon/style';
@import 'lato/style';
@import 'source-sans-pro/style';

/* Example: @include font("sourcesansprolight"); */
/* Example: @include font("latobold"); */
@mixin font($str) {
  	font-family: $str, 'sans-serif';      
}
