/*
 * Project Variables
*/
/*
 * A simple set of mixins for CSS
 * Made by JP Casabianca
*/
/**
 * Animation shorcut for CSS
*/
/**
 * Border-radius shorcut for CSS
*/
/**
 * Single Border Radius shorcut for CSS
*/
/**
 * Box Shadow shorcut for CSS
*/
/**
 * Transform shorcut for CSS
*/
/**
 * Transitions shorcut for CSS
*/
/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*********************************************************************************************

Project : rwdgrid - responsive grid system for your next project
URI: http://rwdgrid.com/
Version: 2.0
Author: Vineeth G S
Author URI: http://www.gsvineeth.com
Github URI: https://github.com/gsvineeth/rwdgrid/

**********************************************************************************************

1.  Base code
2.  Mobile Grid
3.  Grid 720px+
4.  Grid 1024px+
5.  Grid 1200px+
6.  Helper classes

**********************************************************************************************/
/*********************************************************************************************

1.  Base code

*********************************************************************************************/
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

[class*='grid-'] {
  float: left;
  padding: 10px;
  width: 100%;
  min-height: 1px; }

.no-padding {
  padding: 0; }

.clear-grid {
  clear: both;
  float: inherit; }

.container {
  margin: 0%;
  width: 100%; }

.container:after,
.container:before,
.cont93:after,
.cont93:before,
.cont90:before,
.cont90:after,
.cont80:before,
.cont80:after,
.cont50:before,
.cont50:after {
  display: table;
  clear: both;
  content: " "; }

.nest {
  margin: 0 -10px;
  padding: 0;
  width: auto; }

.cont90 {
  width: 90%;
  margin: auto; }

.cont80 {
  width: 80%;
  margin: auto; }

.cont93 {
  width: 93%;
  margin: auto; }

.cont50 {
  width: 50%;
  margin: auto; }

/*********************************************************************************************

2.  Mobile Grid

*********************************************************************************************/
.grid-m-12 {
  width: 100%; }

.grid-m-11 {
  width: 91.666663%; }

.grid-m-10 {
  width: 83.33%; }

.grid-m-9 {
  width: 74.999997%; }

.grid-m-8 {
  width: 66.66666664%; }

.grid-m-7 {
  width: 58.333%; }

.grid-m-6 {
  width: 50%; }

.grid-m-5 {
  width: 41.6665%; }

.grid-m-4 {
  width: 33.33%; }

.grid-m-3 {
  width: 24.99%; }

.grid-m-2 {
  width: 16.66666%; }

.grid-m-1 {
  width: 8.33%; }

/*********************************************************************************************

3.  Grid 720px+

*********************************************************************************************/
@media (min-width: 720px) {
  .grid-12 {
    width: 100%; }
  .grid-11 {
    width: 91.666663%; }
  .grid-10 {
    width: 83.33%; }
  .grid-9 {
    width: 74.999997%; }
  .grid-8 {
    width: 66.66666664%; }
  .grid-7 {
    width: 58.333%; }
  .grid-6 {
    width: 50%; }
  .grid-5 {
    width: 41.6665%; }
  .grid-4 {
    width: 33.33%; }
  .grid-3 {
    width: 24.99%; }
  .grid-2 {
    width: 16.66666%; }
  .grid-1 {
    width: 8.33%; }
  .grid-t-12 {
    width: 100%; }
  .grid-t-11 {
    width: 91.666663%; }
  .grid-t-10 {
    width: 83.33%; }
  .grid-t-9 {
    width: 74.999997%; }
  .grid-t-8 {
    width: 66.66666664%; }
  .grid-t-7 {
    width: 58.333%; }
  .grid-t-6 {
    width: 50%; }
  .grid-t-5 {
    width: 41.6665%; }
  .grid-t-4 {
    width: 33.33%; }
  .grid-t-3 {
    width: 24.99%; }
  .grid-t-2 {
    width: 16.66666%; }
  .grid-t-1 {
    width: 8.33%; } }

/*********************************************************************************************

4.  Grid 1024px+

*********************************************************************************************/
@media only screen and (min-width: 1024px) {
  .grid-tl-12 {
    width: 100%; }
  .grid-tl-11 {
    width: 91.666663%; }
  .grid-tl-10 {
    width: 83.33%; }
  .grid-tl-9 {
    width: 74.999997%; }
  .grid-tl-8 {
    width: 66.66666664%; }
  .grid-tl-7 {
    width: 58.333%; }
  .grid-tl-6 {
    width: 50%; }
  .grid-tl-5 {
    width: 41.6665%; }
  .grid-tl-4 {
    width: 33.33%; }
  .grid-tl-3 {
    width: 24.99%; }
  .grid-tl-2 {
    width: 16.66666%; }
  .grid-tl-1 {
    width: 8.33%; } }

/*********************************************************************************************

5.  Grid 1200px+

*********************************************************************************************/
@media only screen and (min-width: 1200px) {
  .container {
    width: 100%; }
  .container-fluid {
    max-width: 90%;
    margin: 0 5%; }
  .grid-d-12 {
    width: 100%; }
  .grid-d-11 {
    width: 91.666663%; }
  .grid-d-10 {
    width: 83.33%; }
  .grid-d-9 {
    width: 74.999997%; }
  .grid-d-8 {
    width: 66.66666664%; }
  .grid-d-7 {
    width: 58.333%; }
  .grid-d-6 {
    width: 50%; }
  .grid-d-5 {
    width: 41.6665%; }
  .grid-d-4 {
    width: 33.33%; }
  .grid-d-3 {
    width: 24.99%; }
  .grid-d-2 {
    width: 16.66666%; }
  .grid-d-1 {
    width: 8.33%; } }

/*********************************************************************************************

6.  Helper classes

*********************************************************************************************/
img.scale, img.responsive {
  max-width: 100%;
  height: auto; }

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/fonts/icomoon.eot?5uapf2");
  src: url("../fonts/icomoon/fonts/icomoon.eot?5uapf2#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?5uapf2") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?5uapf2") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?5uapf2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-activity:before {
  content: "\e900"; }

.icon-airplay:before {
  content: "\e901"; }

.icon-alert-circle:before {
  content: "\e902"; }

.icon-alert-octagon:before {
  content: "\e903"; }

.icon-alert-triangle:before {
  content: "\e904"; }

.icon-align-center:before {
  content: "\e905"; }

.icon-align-justify:before {
  content: "\e906"; }

.icon-align-left:before {
  content: "\e908"; }

.icon-align-right:before {
  content: "\e909"; }

.icon-anchor:before {
  content: "\e90b"; }

.icon-aperture:before {
  content: "\e90d"; }

.icon-arrow-down:before {
  content: "\e90f"; }

.icon-arrow-down-circle:before {
  content: "\e910"; }

.icon-arrow-down-left:before {
  content: "\e911"; }

.icon-arrow-down-right:before {
  content: "\e912"; }

.icon-arrow-left:before {
  content: "\e913"; }

.icon-arrow-left-circle:before {
  content: "\e914"; }

.icon-arrow-right:before {
  content: "\e915"; }

.icon-arrow-right-circle:before {
  content: "\e916"; }

.icon-arrow-up:before {
  content: "\e917"; }

.icon-arrow-up-circle:before {
  content: "\e918"; }

.icon-arrow-up-left:before {
  content: "\e919"; }

.icon-arrow-up-right:before {
  content: "\e91a"; }

.icon-at-sign:before {
  content: "\e91b"; }

.icon-award:before {
  content: "\e91c"; }

.icon-bar-chart:before {
  content: "\e91d"; }

.icon-bar-chart-2:before {
  content: "\e91e"; }

.icon-battery:before {
  content: "\e91f"; }

.icon-battery-charging:before {
  content: "\e920"; }

.icon-bell:before {
  content: "\e921"; }

.icon-bell-off:before {
  content: "\e922"; }

.icon-bluetooth:before {
  content: "\e923"; }

.icon-bold:before {
  content: "\e924"; }

.icon-book:before {
  content: "\e925"; }

.icon-book-open:before {
  content: "\e926"; }

.icon-bookmark:before {
  content: "\e927"; }

.icon-box:before {
  content: "\e928"; }

.icon-briefcase:before {
  content: "\e929"; }

.icon-calendar:before {
  content: "\e92a"; }

.icon-camera:before {
  content: "\e92b"; }

.icon-camera-off:before {
  content: "\e92c"; }

.icon-cast:before {
  content: "\e92d"; }

.icon-check:before {
  content: "\e92e"; }

.icon-check-circle:before {
  content: "\e92f"; }

.icon-check-square:before {
  content: "\e930"; }

.icon-chevron-down:before {
  content: "\e931"; }

.icon-chevron-left:before {
  content: "\e932"; }

.icon-chevron-right:before {
  content: "\e933"; }

.icon-chevron-up:before {
  content: "\e934"; }

.icon-chevrons-down:before {
  content: "\e935"; }

.icon-chevrons-left:before {
  content: "\e936"; }

.icon-chevrons-right:before {
  content: "\e937"; }

.icon-chevrons-up:before {
  content: "\e938"; }

.icon-chrome:before {
  content: "\e939"; }

.icon-circle:before {
  content: "\e93a"; }

.icon-clipboard:before {
  content: "\e93b"; }

.icon-clock:before {
  content: "\e93c"; }

.icon-cloud:before {
  content: "\e93d"; }

.icon-cloud-drizzle:before {
  content: "\e93e"; }

.icon-cloud-lightning:before {
  content: "\e93f"; }

.icon-cloud-off:before {
  content: "\e940"; }

.icon-cloud-rain:before {
  content: "\e941"; }

.icon-cloud-snow:before {
  content: "\e942"; }

.icon-code:before {
  content: "\e943"; }

.icon-codepen:before {
  content: "\e944"; }

.icon-command:before {
  content: "\e945"; }

.icon-compass:before {
  content: "\e946"; }

.icon-copy:before {
  content: "\e947"; }

.icon-corner-down-left:before {
  content: "\e948"; }

.icon-corner-down-right:before {
  content: "\e949"; }

.icon-corner-left-down:before {
  content: "\e94a"; }

.icon-corner-left-up:before {
  content: "\e94b"; }

.icon-corner-right-down:before {
  content: "\e94c"; }

.icon-corner-right-up:before {
  content: "\e94d"; }

.icon-corner-up-left:before {
  content: "\e94e"; }

.icon-corner-up-right:before {
  content: "\e94f"; }

.icon-cpu:before {
  content: "\e950"; }

.icon-credit-card:before {
  content: "\e951"; }

.icon-crop:before {
  content: "\e952"; }

.icon-crosshair:before {
  content: "\e953"; }

.icon-database:before {
  content: "\e954"; }

.icon-delete:before {
  content: "\e955"; }

.icon-disc:before {
  content: "\e956"; }

.icon-dollar-sign:before {
  content: "\e957"; }

.icon-download:before {
  content: "\e958"; }

.icon-download-cloud:before {
  content: "\e959"; }

.icon-droplet:before {
  content: "\e95a"; }

.icon-edit:before {
  content: "\e95b"; }

.icon-edit-2:before {
  content: "\e95c"; }

.icon-edit-3:before {
  content: "\e95d"; }

.icon-external-link:before {
  content: "\e95e"; }

.icon-eye:before {
  content: "\e95f"; }

.icon-eye-off:before {
  content: "\e960"; }

.icon-facebook2:before {
  content: "\e961"; }

.icon-fast-forward:before {
  content: "\e962"; }

.icon-feather:before {
  content: "\e963"; }

.icon-file:before {
  content: "\e964"; }

.icon-file-minus:before {
  content: "\e965"; }

.icon-file-plus:before {
  content: "\e966"; }

.icon-file-text:before {
  content: "\e967"; }

.icon-film:before {
  content: "\e968"; }

.icon-filter:before {
  content: "\e969"; }

.icon-flag:before {
  content: "\e96a"; }

.icon-folder:before {
  content: "\e96b"; }

.icon-folder-minus:before {
  content: "\e96c"; }

.icon-folder-plus:before {
  content: "\e96d"; }

.icon-git-branch:before {
  content: "\e96e"; }

.icon-git-commit:before {
  content: "\e96f"; }

.icon-git-merge:before {
  content: "\e970"; }

.icon-git-pull-request:before {
  content: "\e971"; }

.icon-github:before {
  content: "\e972"; }

.icon-gitlab:before {
  content: "\e973"; }

.icon-globe:before {
  content: "\e974"; }

.icon-grid:before {
  content: "\e975"; }

.icon-hard-drive:before {
  content: "\e976"; }

.icon-hash:before {
  content: "\e977"; }

.icon-headphones:before {
  content: "\e978"; }

.icon-heart:before {
  content: "\e979"; }

.icon-help-circle:before {
  content: "\e97a"; }

.icon-home:before {
  content: "\e97b"; }

.icon-image:before {
  content: "\e97c"; }

.icon-inbox:before {
  content: "\e97d"; }

.icon-info:before {
  content: "\e97e"; }

.icon-instagram:before {
  content: "\e97f"; }

.icon-italic:before {
  content: "\e980"; }

.icon-layers:before {
  content: "\e981"; }

.icon-layout:before {
  content: "\e982"; }

.icon-life-buoy:before {
  content: "\e983"; }

.icon-link:before {
  content: "\e984"; }

.icon-link-2:before {
  content: "\e985"; }

.icon-linkedin2:before {
  content: "\e986"; }

.icon-list:before {
  content: "\e987"; }

.icon-loader:before {
  content: "\e988"; }

.icon-lock:before {
  content: "\e989"; }

.icon-log-in:before {
  content: "\e98a"; }

.icon-log-out:before {
  content: "\e98b"; }

.icon-mail:before {
  content: "\e98c"; }

.icon-map:before {
  content: "\e98d"; }

.icon-map-pin:before {
  content: "\e98e"; }

.icon-maximize:before {
  content: "\e98f"; }

.icon-maximize-2:before {
  content: "\e990"; }

.icon-menu:before {
  content: "\e991"; }

.icon-message-circle:before {
  content: "\e992"; }

.icon-message-square:before {
  content: "\e993"; }

.icon-mic:before {
  content: "\e994"; }

.icon-mic-off:before {
  content: "\e995"; }

.icon-minimize:before {
  content: "\e996"; }

.icon-minimize-2:before {
  content: "\e997"; }

.icon-minus:before {
  content: "\e998"; }

.icon-minus-circle:before {
  content: "\e999"; }

.icon-minus-square:before {
  content: "\e99a"; }

.icon-monitor:before {
  content: "\e99b"; }

.icon-moon:before {
  content: "\e99c"; }

.icon-more-horizontal:before {
  content: "\e99d"; }

.icon-more-vertical:before {
  content: "\e99e"; }

.icon-move:before {
  content: "\e99f"; }

.icon-music:before {
  content: "\e9a0"; }

.icon-navigation:before {
  content: "\e9a1"; }

.icon-navigation-2:before {
  content: "\e9a2"; }

.icon-octagon:before {
  content: "\e9a3"; }

.icon-package:before {
  content: "\e9a4"; }

.icon-paperclip:before {
  content: "\e9a5"; }

.icon-pause:before {
  content: "\e9a6"; }

.icon-pause-circle:before {
  content: "\e9a7"; }

.icon-percent:before {
  content: "\e9a8"; }

.icon-phone:before {
  content: "\e9a9"; }

.icon-phone-call:before {
  content: "\e9aa"; }

.icon-phone-forwarded:before {
  content: "\e9ab"; }

.icon-phone-incoming:before {
  content: "\e9ac"; }

.icon-phone-missed:before {
  content: "\e9ad"; }

.icon-phone-off:before {
  content: "\e9ae"; }

.icon-phone-outgoing:before {
  content: "\e9af"; }

.icon-pie-chart:before {
  content: "\e9b0"; }

.icon-play:before {
  content: "\e9b1"; }

.icon-play-circle:before {
  content: "\e9b2"; }

.icon-plus:before {
  content: "\e9b3"; }

.icon-plus-circle:before {
  content: "\e9b4"; }

.icon-plus-square:before {
  content: "\e9b5"; }

.icon-pocket:before {
  content: "\e9b6"; }

.icon-power:before {
  content: "\e9b7"; }

.icon-printer:before {
  content: "\e9b8"; }

.icon-radio:before {
  content: "\e9b9"; }

.icon-refresh-ccw:before {
  content: "\e9ba"; }

.icon-refresh-cw:before {
  content: "\e9bb"; }

.icon-repeat:before {
  content: "\e9bc"; }

.icon-rewind:before {
  content: "\e9bd"; }

.icon-rotate-ccw:before {
  content: "\e9be"; }

.icon-rotate-cw:before {
  content: "\e9bf"; }

.icon-rss:before {
  content: "\e9c0"; }

.icon-save:before {
  content: "\e9c1"; }

.icon-scissors:before {
  content: "\e9c2"; }

.icon-search:before {
  content: "\e9c3"; }

.icon-send:before {
  content: "\e9c4"; }

.icon-server:before {
  content: "\e9c5"; }

.icon-settings:before {
  content: "\e9c6"; }

.icon-share:before {
  content: "\e9c7"; }

.icon-share-2:before {
  content: "\e9c8"; }

.icon-shield:before {
  content: "\e9c9"; }

.icon-shield-off:before {
  content: "\e9ca"; }

.icon-shopping-bag:before {
  content: "\e9cb"; }

.icon-shopping-cart:before {
  content: "\e9cc"; }

.icon-shuffle:before {
  content: "\e9cd"; }

.icon-sidebar:before {
  content: "\e9ce"; }

.icon-skip-back:before {
  content: "\e9cf"; }

.icon-skip-forward:before {
  content: "\e9d0"; }

.icon-slack:before {
  content: "\e9d1"; }

.icon-slash:before {
  content: "\e9d2"; }

.icon-sliders:before {
  content: "\e9d3"; }

.icon-smartphone:before {
  content: "\e9d4"; }

.icon-speaker:before {
  content: "\e9d5"; }

.icon-square:before {
  content: "\e9d6"; }

.icon-star:before {
  content: "\e9d7"; }

.icon-stop-circle:before {
  content: "\e9d8"; }

.icon-sun:before {
  content: "\e9d9"; }

.icon-sunrise:before {
  content: "\e9da"; }

.icon-sunset:before {
  content: "\e9db"; }

.icon-tablet:before {
  content: "\e9dc"; }

.icon-tag:before {
  content: "\e9dd"; }

.icon-target:before {
  content: "\e9de"; }

.icon-terminal:before {
  content: "\e9df"; }

.icon-thermometer:before {
  content: "\e9e0"; }

.icon-thumbs-down:before {
  content: "\e9e1"; }

.icon-thumbs-up:before {
  content: "\e9e2"; }

.icon-toggle-left:before {
  content: "\e9e3"; }

.icon-toggle-right:before {
  content: "\e9e4"; }

.icon-trash:before {
  content: "\e9e5"; }

.icon-trash-2:before {
  content: "\e9e6"; }

.icon-trending-down:before {
  content: "\e9e7"; }

.icon-trending-up:before {
  content: "\e9e8"; }

.icon-triangle:before {
  content: "\e9e9"; }

.icon-truck:before {
  content: "\e9ea"; }

.icon-tv:before {
  content: "\e9eb"; }

.icon-twitter2:before {
  content: "\e9ec"; }

.icon-type:before {
  content: "\e9ed"; }

.icon-umbrella:before {
  content: "\e9ee"; }

.icon-underline:before {
  content: "\e9ef"; }

.icon-unlock:before {
  content: "\e9f0"; }

.icon-upload:before {
  content: "\e9f1"; }

.icon-upload-cloud:before {
  content: "\e9f2"; }

.icon-user:before {
  content: "\e9f3"; }

.icon-user-check:before {
  content: "\e9f4"; }

.icon-user-minus:before {
  content: "\e9f5"; }

.icon-user-plus:before {
  content: "\e9f6"; }

.icon-user-x:before {
  content: "\e9f7"; }

.icon-users:before {
  content: "\e9f8"; }

.icon-video:before {
  content: "\e9f9"; }

.icon-video-off:before {
  content: "\e9fa"; }

.icon-voicemail:before {
  content: "\e9fb"; }

.icon-volume:before {
  content: "\e9fc"; }

.icon-volume-1:before {
  content: "\e9fd"; }

.icon-volume-2:before {
  content: "\e9fe"; }

.icon-volume-x:before {
  content: "\e9ff"; }

.icon-watch:before {
  content: "\ea00"; }

.icon-wifi:before {
  content: "\ea01"; }

.icon-wifi-off:before {
  content: "\ea02"; }

.icon-wind:before {
  content: "\ea03"; }

.icon-x:before {
  content: "\ea04"; }

.icon-x-circle:before {
  content: "\ea05"; }

.icon-x-square:before {
  content: "\ea06"; }

.icon-zap:before {
  content: "\ea07"; }

.icon-zap-off:before {
  content: "\ea08"; }

.icon-zoom-in:before {
  content: "\ea09"; }

.icon-zoom-out:before {
  content: "\ea0a"; }

.icon-twitter:before {
  content: "\e907"; }

.icon-linkedin:before {
  content: "\e90a"; }

.icon-facebook:before {
  content: "\e90c"; }

.icon-youtube:before {
  content: "\e90e"; }

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on February 14, 2018 */
@font-face {
  font-family: 'latoitalic';
  src: url("../fonts/lato/lato-italic-webfont.woff2") format("woff2"), url("../fonts/lato/lato-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato/lato-light-webfont.woff2") format("woff2"), url("../fonts/lato/lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latomedium';
  src: url("../fonts/lato/lato-medium-webfont.woff2") format("woff2"), url("../fonts/lato/lato-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on February 14, 2018 */
@font-face {
  font-family: 'sourcesansproitalic';
  src: url("../fonts/source-sans-pro/sourcesanspro-it-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sourcesansprolight';
  src: url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sourcesansproregular';
  src: url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sourcesansprosemibold';
  src: url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Example: @include font("sourcesansprolight"); */
/* Example: @include font("latobold"); */
/* Global Styles */
.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-purple {
  color: #554686 !important; }

a {
  text-decoration: none; }

.no-padding-right {
  padding-right: 0; }

p {
  font-family: "lato", "sans-serif"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "lato", "sans-serif"; }

#section1, #section4, #footerabove {
  background-size: cover;
  background-position: middle; }

.boton, #section3 .button, #footerabove a {
  display: inline-block;
  padding: 15px 35px;
  color: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  font-family: "lato", "sans-serif";
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer; }

#section3 .webcast-upcoming, #section5 .owl-carousel {
  -webkit-box-shadow: 1px 11px 11px -8px #b5b5b5 !important;
  -moz-box-shadow: 1px 11px 11px -8px #b5b5b5 !important;
  box-shadow: 1px 11px 11px -8px #b5b5b5 !important; }

.relative {
  position: relative; }

.text-justify {
  text-align: justify; }

.boton {
  background-color: #826be2;
  margin-top: 30px; }
  .boton:hover {
    background-color: #ffbf6e; }

/* Header Styles */
#logo {
  width: 100px;
  height: 37px;
  display: inline-block;
  margin-top: 3px; }
  #logo:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px; }

header {
  border-bottom: 1px solid #e2e2e2;
  display: block;
  padding: 0;
  margin: 0;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 20; }
  header a {
    cursor: pointer; }

.headercontainer {
  background-color: none;
  padding: 4px 0; }
  .headercontainer nav a {
    color: #aaafb6;
    font-family: "sourcesansproregular", "sans-serif";
    font-size: 16px;
    display: inline-block;
    padding: 11.5px 17px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .headercontainer nav a:hover {
      color: #554686; }
  .headercontainer nav a.text-purple {
    font-family: "sourcesansprosemibold", "sans-serif";
    padding: 11.5px 8px; }
    .headercontainer nav a.text-purple:hover {
      text-decoration: underline; }
  .headercontainer nav .icon-search {
    padding: 11.5px 8px; }

#search {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 25;
  height: 100%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  #search input {
    width: 100%;
    height: 40px !important;
    text-indent: 30px;
    font-family: "lato", "sans-serif";
    border: none; }
    #search input:focus {
      outline: none; }
  #search input::-webkit-input-placeholder,
  #search input::-webkit-input-placeholder {
    color: #e2e2e2; }
  #search input::-moz-placeholder,
  #search input::-moz-placeholder {
    color: #e2e2e2; }
  #search .icon-search {
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 18px;
    color: #826be2; }
  #search #closesearch {
    position: absolute;
    right: 0;
    top: 9px;
    font-size: 24px;
    color: #808080;
    cursor: pointer; }
    #search #closesearch:hover {
      color: #826be2; }

/* Main Content */
#thanks-landing {
  display: none;
  margin-top: 49px; }
  #thanks-landing h1 {
    margin-top: 150px; }
  #thanks-landing a {
    margin-bottom: 100px; }

/* FIRST SECTION */
#section1 {
  background-image: url("../img/back-first-fold.png");
  margin-top: 49px; }
  #section1 h1, #section1 p {
    color: #fff; }
  #section1 h1, #section1 h3 {
    font-family: "lato", "sans-serif";
    margin: 0; }
  #section1 h3 {
    margin: 30px 0; }
  #section1 h2, #section1 h3 {
    color: #ffbf6e; }
  #section1 p {
    font-family: "sourcesansproregular", "sans-serif";
    margin-bottom: 30px;
    line-height: 1.6; }
  #section1 h1 {
    margin-top: 140px; }
  #section1 form {
    margin-bottom: 300px; }

.form {
  font-family: "sourcesansproregular", "sans-serif"; }
  .form input[type="text"], .form input[type="email"], .form input[type="submit"] {
    display: block;
    width: 95%;
    height: 37px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px; }
  .form input[type="text"],
  .form input[type="email"] {
    background: none;
    border: 2px solid #fff;
    text-indent: 15px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-family: "sourcesansproregular", "sans-serif"; }
    .form input[type="text"]:focus,
    .form input[type="email"]:focus {
      border: 2px solid #ffbf6e; }
  .form input[type="text"]::-webkit-input-placeholder,
  .form input[type="email"]::-webkit-input-placeholder {
    color: #fff; }
  .form input[type="text"]::-moz-placeholder,
  .form input[type="email"]::-moz-placeholder {
    color: #fff; }
  .form input[type="submit"] {
    background-color: #ffbf6e;
    border: 2px solid #ffbf6e;
    color: #fff;
    font-family: "sourcesansprosemibold", "sans-serif";
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    outline: none; }
    .form input[type="submit"]:hover {
      background-color: #41398b;
      border: 2px solid #41398b; }

/* SECOND SECTION */
#section2 h2 {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 32px; }

#section2 p {
  color: #aaafb6;
  line-height: 1.6; }

#section2 .webcast-card {
  background-color: #ebe5f9;
  display: inline-block;
  padding: 20px;
  font-size: 36px;
  color: #826be2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

#section2 h4 {
  font-size: 20px;
  color: #826be2;
  margin: 20px; }

/* THIRD SECTION */
#section3 {
  margin-bottom: 70px; }
  #section3 h3 {
    margin-bottom: 20px;
    margin-top: 120px;
    font-size: 32px; }
  #section3 p {
    color: #aaafb6; }
  #section3 .upcoming {
    margin-bottom: 50px; }
  #section3 .purple-back {
    padding: 25px 0;
    background-color: #826be2; }
    #section3 .purple-back p, #section3 .purple-back span {
      color: #fff; }
    #section3 .purple-back span {
      text-align: right;
      font-size: 40px;
      margin-right: 15px; }
    #section3 .purple-back p {
      padding: 2px 0; }
  #section3 .purple-back2 {
    background-color: #fff; }
    #section3 .purple-back2 p, #section3 .purple-back2 span {
      color: #826be2; }
  #section3 .purpletag {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 18px;
    background-color: #826be2; }
  #section3 .webcast-upcoming {
    position: relative;
    margin-bottom: 40px; }
  #section3 .webcast-time {
    margin-top: 35px; }
  #section3 .button {
    background-color: #ffbf6e;
    margin-top: 20px; }
    #section3 .button:hover {
      background-color: #826be2; }
  #section3 .separator {
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: #afafaf;
    right: 0;
    bottom: -17px; }
  #section3 .separator2 {
    bottom: 24px; }

/* FOURTH SECTION */
#section4 {
  padding: 120px 0 220px 0;
  /*background-color: #f7f7f7;*/
  background-image: url("../img/back2.png"); }
  #section4 .imgcircle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 180px;
    margin: auto;
    border: 6px solid #fff;
    margin-top: 120px; }
  #section4 h3 {
    color: #826be2;
    font-size: 20px;
    margin-top: 120px; }
  #section4 h4 {
    font-size: 18px;
    margin-bottom: 25px; }
  #section4 p {
    color: #aaafb6;
    font-family: "sourcesansproregular", "sans-serif";
    line-height: 1.6; }

/* FIFTH SECTION */
#section5 {
  margin-bottom: 70px; }
  #section5 h3 {
    margin-bottom: 20px;
    margin-top: 120px;
    font-size: 32px; }
  #section5 p {
    color: #aaafb6; }
  #section5 .owl-carousel {
    margin-top: 30px; }
  #section5 .owl-dot {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #cbcbcb;
    display: inline-block;
    margin: 0 4px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #section5 .owl-dot:hover {
      background-color: #826be2; }
  #section5 .owl-dots .active {
    background-color: #826be2; }
  #section5 .owl-dots {
    position: relative;
    top: 50px; }
  #section5 .imgcirclesmall {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px; }
  #section5 .client-name {
    color: #826be2;
    margin-top: 8px; }
  #section5 .client-job {
    font-family: "latoitalic", "sans-serif";
    color: #4d4d4d; }
  #section5 .testimony {
    margin-top: 15px;
    font-family: "sourcesansproregular", "sans-serif"; }
  #section5 .clientcard {
    padding: 25px 0; }
  #section5 .icon-award {
    color: #826be2;
    font-size: 30px;
    display: inline-block;
    margin-top: 8px; }

/* FOOTER */
#footerabove {
  text-align: center;
  background-image: url("../img/footer.png"); }
  #footerabove h2 {
    margin-top: 220px; }
  #footerabove h2, #footerabove p {
    color: #fff; }
  #footerabove p {
    margin: 40px 0; }
  #footerabove a {
    display: inline-block;
    margin-bottom: 150px;
    background-color: #826be2; }
    #footerabove a:hover {
      background-color: #ffbf6e; }

#gitlablogo {
  width: 85px;
  height: 81px;
  position: absolute;
  display: inline-block;
  left: 46.3%;
  top: -38px;
  cursor: pointer; }
  #gitlablogo:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

#footerbelow {
  background-color: #6a52b8; }
  #footerbelow .socialfooter {
    margin-top: 45px;
    margin-bottom: 30px; }
    #footerbelow .socialfooter a {
      color: #fff;
      font-size: 28px;
      display: inline-block;
      padding: 5px;
      background-color: #6a52b8;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      #footerbelow .socialfooter a:hover {
        background-color: #41398b; }
  #footerbelow .menufooter {
    margin-top: 70px;
    margin-bottom: 70px; }
    #footerbelow .menufooter h5, #footerbelow .menufooter a {
      color: #fff; }
    #footerbelow .menufooter h5 {
      font-size: 22px;
      margin-bottom: 25px; }
    #footerbelow .menufooter a {
      font-family: "sourcesansproregular", "sans-serif";
      display: inline-block;
      margin: 3px 0; }
      #footerbelow .menufooter a:hover {
        color: #41398b; }

#lastfooter {
  background-color: #1f1935; }
  #lastfooter a {
    color: #826be2; }
    #lastfooter a:hover {
      text-decoration: underline; }
  #lastfooter p {
    color: #fff;
    margin: 12px 0; }

/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {
  .headercontainer nav a {
    padding: 11.5px 8px; } }

@media only screen and (max-width: 980px) {
  .normal-menu {
    display: none !important; }
  #icon-menu-mobile {
    display: inline-block !important; } }

@media only screen and (max-width: 720px) {
  .text-center-mobile {
    text-align: center; }
  .form input[type="text"],
  .form input[type="email"] {
    margin-bottom: 20px !important; }
  #homeimg {
    display: none !important; }
  footer {
    text-align: center; }
    footer h5 {
      margin-top: 35px !important; }
  #section1 h1 {
    margin-top: 65px; }
  .webcast-card {
    margin-top: 45px; }
  .webcast-upcoming p {
    text-align: center !important; }
  .webcast-upcoming span {
    display: none !important; }
  .webcast-upcoming .button {
    display: inline-block;
    margin: 30px 0 20px 0 !important; }
  .webcast-upcoming .purple-back2 {
    background-color: #826be2 !important; }
    .webcast-upcoming .purple-back2 p {
      color: #fff !important; }
  #section4 {
    text-align: center; }
    #section4 h3 {
      margin-top: 20px; }
  .cont50, .cont80, .cont97 {
    width: 90%; }
  #gitlablogo {
    left: 44%; } }

/* MOBILE MENU */
#menu-dropdown a:hover, #menu-dropdown a.selected-mobile {
  background-color: #826be2;
  color: #fff; }

#menu-dropdown {
  position: absolute;
  width: 100%;
  display: none;
  background-color: #fff;
  left: 0;
  top: 49px;
  z-index: 5;
  text-align: center; }
  #menu-dropdown a {
    display: block;
    padding: 8px 0;
    font-size: 14px;
    font-family: "lato", "sans-serif";
    color: #aaafb6; }
  #menu-dropdown .text-purple:hover {
    background-color: #41398b;
    color: #fff !important; }

#icon-menu-mobile {
  display: none;
  text-align: right;
  padding: 5px 7px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  cursor: pointer; }
  #icon-menu-mobile:hover {
    background-color: #e2e2e2; }
