@import 'helpers/all';
@import 'base/all';
@import 'plugins/all';
@import 'fonts/all';

/* Global Styles */

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-purple {
	color: $gitlab_purple_text!important;
}

a {
	text-decoration: none;
}

.no-padding-right {
	padding-right: 0;
}

p {
	@include font("lato");
}

h1, h2, h3, h4, h5, h6 {
	@include font("lato");
}

%background-images {
	background-size: cover;
	background-position: middle;
}

%button {
	display: inline-block;
	padding: 15px 35px;
	color: #fff;
	@include border-radius(15px);
	@include font("lato");
	@include transition(0.5s);
	cursor: pointer;
}

%shadow {
	-webkit-box-shadow: 1px 11px 11px -8px rgba(181,181,181,1)!important;
	-moz-box-shadow: 1px 11px 11px -8px rgba(181,181,181,1)!important;
	box-shadow: 1px 11px 11px -8px rgba(181,181,181,1)!important;
}

.relative {
	position: relative;
}

.text-justify {
	text-align: justify;
}

.boton {
	@extend %button;
	background-color: $gitlab_purple;
	margin-top: 30px;
	&:hover {
		background-color: $gitlab_orange;
	}
}

/* Header Styles */

#logo {
	width: 100px;
	height: 37px;
	display: inline-block;
	margin-top: 3px;
	&:hover {
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	  	transform: translate3d(0, 0, 0);
	  	backface-visibility: hidden;
	  	perspective: 1000px;
	}
}

header {
	border-bottom: 1px solid #e2e2e2;
	display: block;
	padding: 0;
	margin: 0;
	height: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 20;
	a {
		cursor: pointer;
	}
}

.headercontainer {
	background-color: none;
	padding: 4px 0;
	nav {
		a {
			color: $text;
			@include font("sourcesansproregular");
			font-size: 16px;
			display: inline-block;
			padding: 11.5px 17px;
			@include transition(0.5s);
			&:hover {
				color: $gitlab_purple_text;
			}
		}
		a.text-purple {
			@include font("sourcesansprosemibold");
			padding: 11.5px 8px;
			&:hover {
				text-decoration: underline;
			}
		}
		.icon-search {
			padding: 11.5px 8px;
		}
	}
}

#search {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 25;
	height: 100%;
	@include transition(0.5s);
	input {
		width: 100%;
		height: 40px!important;
		text-indent: 30px;
		@include font("lato");
		border:none;
		&:focus {
			outline: none;
		}
	}
	input::-webkit-input-placeholder,
	input::-webkit-input-placeholder {
		color: #e2e2e2;
	}
	input::-moz-placeholder,
	input::-moz-placeholder {
		color: #e2e2e2;
	}
	.icon-search {
		position: absolute;
		left: 0;
		top: 12px;
		font-size: 18px;
		color: $gitlab_purple;
	}
	#closesearch {
		position: absolute;
		right: 0;
		top: 9px;
		font-size: 24px;
		color: #808080;
		cursor: pointer;
		&:hover {
			color:$gitlab_purple;
		}
	}
}

/* Main Content */

#thanks-landing {
	display: none;
	margin-top: 49px;
	h1 {
		margin-top: 150px;
	}
	a {
		margin-bottom: 100px;
	}
}

/* FIRST SECTION */

#section1 {
	background-image: url("../img/back-first-fold.png");
	@extend %background-images;
	margin-top: 49px;
	h1, p {
		color: #fff;
	}
	h1, h3 {
		@include font("lato");
		margin: 0;
	}
	h3 {
		margin: 30px 0;
	}
	h2, h3 {
		color: $gitlab_orange;
	}
	p {
		@include font("sourcesansproregular");
		margin-bottom: 30px;
		line-height: 1.6;
	}
	h1 {
		margin-top: 140px;
	}
	form {
		margin-bottom: 300px;
	}
}

.form {
	@include font("sourcesansproregular");
	%inputform {
	  	display: block;
	  	width: 95%;
		height: 37px;
		@include border-radius(12px);
	}
	input[type="text"],
	input[type="email"] {
		@extend %inputform;
		background: none;
		border: 2px solid #fff;
		text-indent: 15px;
		@include transition(0.5s);
		outline: none;
		color: #fff;
		font-size: 14px;
		@include font("sourcesansproregular");
		&:focus {
			border: 2px solid $gitlab_orange;
		}
	}
	input[type="text"]::-webkit-input-placeholder,
	input[type="email"]::-webkit-input-placeholder {
		color: #fff;
	}
	input[type="text"]::-moz-placeholder,
	input[type="email"]::-moz-placeholder {
		color: #fff;
	}
	input[type="submit"] {
		@extend %inputform;
		background-color: $gitlab_orange;
		border: 2px solid $gitlab_orange;
		color: #fff;
		@include font("sourcesansprosemibold");
		text-transform: uppercase;
		cursor: pointer;
		@include transition(0.5s);
		outline: none;
		&:hover {
			background-color:$gitlab_purple_dark;
			border: 2px solid $gitlab_purple_dark;
		}
	}
}

/* SECOND SECTION */

#section2 {
	h2 {
		margin-bottom: 50px;
		margin-top: 50px;
		font-size: 32px;
	}
	p {
		color: $text;
		line-height: 1.6;
	}
	.webcast-card {
		background-color: #ebe5f9;
		display: inline-block;
		padding: 20px;
		font-size: 36px;
		color: $gitlab_purple;
		@include border-radius(20px);
	}
	h4 {
		font-size: 20px;
		color: $gitlab_purple;
		margin: 20px;
	}
}

/* THIRD SECTION */

#section3 {
	margin-bottom: 70px;
	h3 {
		margin-bottom: 20px;
		margin-top: 120px;
		font-size: 32px;
	}
	p {
		color: $text;
	}
	.upcoming {
		margin-bottom:50px;

	}
	.purple-back {
		padding: 25px 0;
		background-color: $gitlab_purple;
		p, span {
			color: #fff;
		}
		span {
			text-align: right;
			font-size: 40px;
			margin-right: 15px;
		}
		p {
			padding: 2px 0;
		}
	}
	.purple-back2 {
		background-color: #fff;
		p, span {
			color: $gitlab_purple;
		}
	}
	.purpletag {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 18px;
		background-color: $gitlab_purple;
	}
	.webcast-upcoming {
		@extend %shadow;
		position: relative;
		margin-bottom: 40px;
	}
	.webcast-time {
		margin-top: 35px;
	}
	.button {
		@extend %button;
		background-color: $gitlab_orange;
		margin-top: 20px;
		&:hover {
			background-color:$gitlab_purple;
		}
	}
	.separator {
		position: absolute;
		width: 1px;
		height: 50px;
		background-color: #afafaf;
		right: 0;
		bottom: -17px;
	}
	.separator2 {
		bottom: 24px;
	}
}

/* FOURTH SECTION */

#section4 {
	padding: 120px 0 220px 0;
	/*background-color: #f7f7f7;*/
	background-image: url("../img/back2.png");
	@extend %background-images;
	.imgcircle {
		@include border-radius(50%);
		overflow: hidden;
		width: 180px;
		height: 180px;
		margin: auto;
		border: 6px solid #fff;
		margin-top: 120px;
	}
	h3 {
		color: $gitlab_purple;
		font-size: 20px;
		margin-top: 120px;
	}
	h4 {
		font-size: 18px;
		margin-bottom: 25px;
	}
	p {
		color:$text;
		@include font('sourcesansproregular');
		line-height: 1.6;
	}
}

/* FIFTH SECTION */

#section5 {
	margin-bottom: 70px;
	h3 {
		margin-bottom: 20px;
		margin-top: 120px;
		font-size: 32px;
	}
	p {
		color: $text;
	}
	.owl-carousel {
		margin-top: 30px;
		@extend %shadow;
	}
	.owl-dot {
		width: 15px;
		height: 15px;
		@include border-radius(50%);
		background-color: #cbcbcb;
		display: inline-block;
		margin: 0 4px;
		@include transition(0.5s);
		&:hover {
			background-color: $gitlab_purple;
		}
	}
	.owl-dots .active {
		background-color: $gitlab_purple;
	}
	.owl-dots {
		position: relative;
		top: 50px;
	}
	.imgcirclesmall{
		@include border-radius(50%);
		overflow: hidden;
		width: 50px;
		height: 50px;
	}
	.client-name {
		color: $gitlab_purple;
		margin-top: 8px;
	}
	.client-job {
		@include font("latoitalic");
		color: #4d4d4d;
	}
	.testimony {
		margin-top: 15px;
		@include font("sourcesansproregular");
	}
	.clientcard {
		padding: 25px 0;
	}
	.icon-award {
		color: $gitlab_purple;
		font-size: 30px;
		display: inline-block;
		margin-top: 8px;
	}
}

/* FOOTER */

#footerabove {
	text-align: center;
	background-image: url("../img/footer.png");
	@extend %background-images;
	h2 {
		margin-top: 220px;
	}
	h2, p {
		color: #fff;
	}
	p {
		margin: 40px 0;
	}
	a {
		@extend %button;
		display: inline-block;
		margin-bottom: 150px;
		background-color: $gitlab_purple;
		&:hover {
			background-color: $gitlab_orange;
		}
	}
}

#gitlablogo {
	width: 85px;
	height: 81px;
	position: absolute;
	display: inline-block;
	left: 46.3%;
	top: -38px;
	cursor: pointer;
	&:hover {
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	  	transform: translate3d(0, 0, 0);
	  	backface-visibility: hidden;
	  	perspective: 1000px;
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#footerbelow {
	background-color: $footer_purple;
	.socialfooter {
		margin-top: 45px;
		margin-bottom: 30px;
		a {
			color: #fff;
			font-size: 28px;
			display: inline-block;
			padding: 5px;
			background-color: $footer_purple;
			@include border-radius(50%);
			@include transition(0.5s);
			&:hover {
				background-color: $gitlab_purple_dark;
			}
		}
	}
	.menufooter {
		margin-top: 70px;
		margin-bottom: 70px;
		h5, a {
			color:#fff;
		}
		h5 {
			font-size: 22px;
			margin-bottom: 25px;
		}
		a {
			@include font("sourcesansproregular");
			display: inline-block;
			margin: 3px 0;
			&:hover {
				color: $gitlab_purple_dark;
			}
		}
	}
}

#lastfooter {
	background-color: #1f1935;
	a {
		color: $gitlab_purple;
		&:hover {
			text-decoration: underline;
		}
	}
	p {
		color: #fff;
		margin: 12px 0;
	}
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {
	.headercontainer {
		nav {
			a {
				padding: 11.5px 8px;
			}
		}
	}
}

@media only screen and (max-width: 980px) {
	.normal-menu {
		display: none!important;
	}
	#icon-menu-mobile { 
		display: inline-block!important;
	}
}

@media only screen and (max-width: 720px) {
	.text-center-mobile {
		text-align: center;
	}
	.form {
		input[type="text"],
		input[type="email"] {
			margin-bottom: 20px!important;
		}
	}
	#homeimg {
		display: none!important;
	}
	footer {
		text-align: center;
		h5 {
			margin-top: 35px!important;
		}
	}
	#section1 {
		h1 {
			margin-top: 65px;
		}
	}
	.webcast-card {
		margin-top: 45px;
	}
	.webcast-upcoming {
		p {
			text-align: center!important;
		}
		span {
			display: none!important;
		}
		.button {
			display: inline-block;
			margin: 30px 0 20px 0!important;
		}
		.purple-back2 {
			background-color: $gitlab_purple!important;
			p {
				color: #fff!important;
			}
		}
	}
	#section4 {
		text-align: center;
		h3 {
			margin-top: 20px;
		}
	}
	.cont50, .cont80, .cont97 {
		width: 90%;
	}
	#gitlablogo {
		left: 44%;
	}
}

/* MOBILE MENU */

%hoverdropdown {
	background-color: $gitlab_purple;
	color: #fff;
}

#menu-dropdown {
	position: absolute;
	width: 100%;
	display: none;
	background-color: #fff;
	left: 0;
	top: 49px;
	z-index: 5;
	text-align: center;
	a {
		display: block;
		padding: 8px 0;
		font-size: 14px;
		@include font("lato");
		color: $text;
		&:hover {
			@extend %hoverdropdown;
		}
	}
	a.selected-mobile {
		@extend %hoverdropdown;
	}
	.text-purple {
		&:hover {
			background-color: $gitlab_purple_dark;
			color: #fff!important;
		}
	}
}

#icon-menu-mobile {
	display: none;
	text-align: right;
	padding: 5px 7px;
	@include border-radius(5px);
	border: 1px solid #e2e2e2;
	cursor: pointer;
	&:hover {
		background-color: #e2e2e2;
	}
}